{% extends 'base.html.twig' %}
{% block body %}

    <body>

    <div id="page-title" class="padding-tb-30px gradient-white">
        <div class="container">
            <ol class="breadcrumb opacity-5">
                <li><a href="#">Home</a></li>
                <li><a href="#">Blog</a></li>
                <li class="active">Classic Blog</li>
            </ol>
            <h1 class="font-weight-300">Classic Blog</h1>
        </div>
    </div>


    <div class="margin-tb-30px">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-12 margin-bottom-40px">
                            <div class="thum"><a href="#"><img src="http://placehold.it/1600x800" alt=""></a></div>
                            <div class="padding-30px background-white">
                                <i class="far fa-folder-open text-main-color"></i>
                                <a href="#" class="text-main-color">News </a> ,
                                <a href="#" class="text-main-color">Articles </a>
                                <h3><a href="#" class="d-block text-dark text-capitalize text-medium margin-tb-15px">Long Don’t Spend Time Beating On a Wall, Hoping To Trans ... </a></h3>
                                <div class="text-grey-2 margin-bottom-10px">Mauris fermentum porta sem, non hendrerit enim bibendum consectetur. Fusce diam est, porttitor vehicula gravida at</div>
                                <span class="margin-right-20px text-extra-small"><i class="far fa-user text-grey-2"></i> By : <a href="#"> Rabie Elkheir</a></span>
                                <span class="text-extra-small"><i class="far fa-clock text-grey-2"></i> Date :  <a href="#"> July 15, 2016</a></span>
                            </div>
                        </div>
                        <div class="col-lg-12 margin-bottom-40px">
                            <div class="thum"><a href="#"><img src="http://placehold.it/1600x800" alt=""></a></div>
                            <div class="padding-30px background-white">
                                <i class="far fa-folder-open text-main-color"></i>
                                <a href="#" class="text-main-color">News </a> ,
                                <a href="#" class="text-main-color">Articles </a>
                                <h3><a href="#" class="d-block text-dark text-capitalize text-medium margin-tb-15px">Long Don’t Spend Time Beating On a Wall, Hoping To Trans ... </a></h3>
                                <div class="text-grey-2 margin-bottom-10px">Mauris fermentum porta sem, non hendrerit enim bibendum consectetur. Fusce diam est, porttitor vehicula gravida at</div>
                                <span class="margin-right-20px text-extra-small"><i class="far fa-user text-grey-2"></i> By : <a href="#"> Rabie Elkheir</a></span>
                                <span class="text-extra-small"><i class="far fa-clock text-grey-2"></i> Date :  <a href="#"> July 15, 2016</a></span>
                            </div>
                        </div>
                        <div class="col-lg-12 margin-bottom-40px">
                            <div class="thum"><a href="#"><img src="http://placehold.it/1600x800" alt=""></a></div>
                            <div class="padding-30px background-white">
                                <i class="far fa-folder-open text-main-color"></i>
                                <a href="#" class="text-main-color">News </a> ,
                                <a href="#" class="text-main-color">Articles </a>
                                <h3><a href="#" class="d-block text-dark text-capitalize text-medium margin-tb-15px">Long Don’t Spend Time Beating On a Wall, Hoping To Trans ... </a></h3>
                                <div class="text-grey-2 margin-bottom-10px">Mauris fermentum porta sem, non hendrerit enim bibendum consectetur. Fusce diam est, porttitor vehicula gravida at</div>
                                <span class="margin-right-20px text-extra-small"><i class="far fa-user text-grey-2"></i> By : <a href="#"> Rabie Elkheir</a></span>
                                <span class="text-extra-small"><i class="far fa-clock text-grey-2"></i> Date :  <a href="#"> July 15, 2016</a></span>
                            </div>
                        </div>
                    </div>

                    <ul class="pagination pagination-md ">
                        <li class="page-item disabled"><a class="page-link rounded-0" href="#" tabindex="-1">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link rounded-0" href="#">Next</a></li>
                    </ul>

                </div>
                <div class="col-lg-4">

                    <div class="margin-bottom-30px">
                        <div class="padding-30px background-white border-radius-10">
                            <h4><i class="fas fa-search margin-right-10px text-main-color"></i> Search</h4>
                            <hr>
                            <div class="input-group mb-3">
                                <input type="text" value="Search..." class="form-control border-radius-0">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary text-white background-main-color border-radius-0" type="button">Search</button>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="widget widget_categories">
                        <div class="margin-bottom-30px">
                            <div class="padding-30px background-white border-radius-10">
                                <h4><i class="far fa-folder-open margin-right-10px text-main-color"></i> Categories</h4>
                                <hr>
                                <ul>
                                    <li><a href="#">Tech</a></li>
                                    <li><a href="#">Gallary</a></li>
                                    <li><a href="#">UI Design </a></li>
                                    <li><a href="#">Shop</a></li>
                                    <li><a href="#">Wordpress  </a></li>
                                    <li><a href="#">Cultur</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="widget widget_categories">
                        <div class="margin-bottom-30px">
                            <div class="padding-30px background-white border-radius-10">
                                <h4><i class="fab fa-instagram margin-right-10px text-main-color"></i> Instagram</h4>
                                <hr>
                                <div class="row">
                                    <div class="col-6 margin-bottom-20px"><a href="#"><img class="border-radius-10" src="http://placehold.it/400x400" alt=""></a></div>
                                    <div class="col-6 margin-bottom-20px"><a href="#"><img class="border-radius-10" src="http://placehold.it/400x400" alt=""></a></div>
                                    <div class="col-6 margin-bottom-20px"><a href="#"><img class="border-radius-10" src="http://placehold.it/400x400" alt=""></a></div>
                                    <div class="col-6 margin-bottom-20px"><a href="#"><img class="border-radius-10" src="http://placehold.it/400x400" alt=""></a></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    </body>
{% endblock %}