{% extends 'baseback.html.twig' %}

{% block body %}
    <body>
    <div class="content-wrapper">
        <div class="container-fluid overflow-hidden">
            <div class="row margin-tb-90px margin-lr-10px sm-mrl-0px">
                <!-- Page Title -->
                <div id="page-title" class="padding-30px background-white full-width">
                    <div class="container">
                        <ol class="breadcrumb opacity-5">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Dashboard</a></li>
                            <li class="active">Bookings</li>
                        </ol>
                        <h1 class="font-weight-300">Bookings</h1>
                    </div>
                </div>
                <!-- // Page Title -->
                <div class="row margin-top-45px">

                    <!-- Booking item -->
                    <div class="col-lg-6 margin-bottom-45px full-width">
                        <div class="background-white thum-hover box-shadow  hvr-float">
                            <div class="padding-30px full-width">
                                <img src="http://placehold.it/60x60" class="float-left margin-right-20px border-radius-60 margin-bottom-20px" alt="">
                                <div class="margin-left-85px">
                                    <a class="d-block text-dark text-medium margin-bottom-5px" href="#">Bakhita alrawi </a>
                                    <div class="d-block padding-tb-5px">Date :  <a href="#" class="text-main-color">July 15, 2016</a></div>
                                    <div class="d-block padding-tb-5px">Listing Name :  <a href="#" class="text-main-color">Alrayan Eye Clinic</a></div>
                                    <div class="d-block padding-tb-5px">Email :  <a href="#" class="text-main-color">info@yourmail.com</a></div>
                                    <div class="d-block padding-tb-5px">Phone  :  <a href="#" class="text-main-color">0022219653258</a></div>
                                    <p class="margin-top-15px text-grey-2">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
                                    <a href="#" class="d-inline-block text-grey-2 text-up-small"><i class="far fa-file-alt"></i> Approve</a>
                                    <a href="#" class="d-inline-block margin-lr-20px text-grey-2 text-up-small"><i class="far fa-window-close"></i> Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- // Booking item -->


                    <!-- Booking item -->
                    <div class="col-lg-6 margin-bottom-45px full-width">
                        <div class="background-white thum-hover box-shadow  hvr-float">
                            <div class="padding-30px full-width">
                                <img src="http://placehold.it/60x60" class="float-left margin-right-20px border-radius-60 margin-bottom-20px" alt="">
                                <div class="margin-left-85px">
                                    <a class="d-block text-dark text-medium margin-bottom-5px" href="#">Bakhita alrawi </a>
                                    <div class="d-block padding-tb-5px">Date :  <a href="#" class="text-main-color">July 15, 2016</a></div>
                                    <div class="d-block padding-tb-5px">Listing Name :  <a href="#" class="text-main-color">Alrayan Eye Clinic</a></div>
                                    <div class="d-block padding-tb-5px">Email :  <a href="#" class="text-main-color">info@yourmail.com</a></div>
                                    <div class="d-block padding-tb-5px">Phone  :  <a href="#" class="text-main-color">0022219653258</a></div>
                                    <p class="margin-top-15px text-grey-2">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
                                    <a href="#" class="d-inline-block text-grey-2 text-up-small"><i class="far fa-file-alt"></i> Approve</a>
                                    <a href="#" class="d-inline-block margin-lr-20px text-grey-2 text-up-small"><i class="far fa-window-close"></i> Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- // Booking item -->


                    <!-- Booking item -->
                    <div class="col-lg-6 margin-bottom-45px full-width">
                        <div class="background-white thum-hover box-shadow  hvr-float">
                            <div class="padding-30px full-width">
                                <img src="http://placehold.it/60x60" class="float-left margin-right-20px border-radius-60 margin-bottom-20px" alt="">
                                <div class="margin-left-85px">
                                    <a class="d-block text-dark text-medium margin-bottom-5px" href="#">Bakhita alrawi </a>
                                    <div class="d-block padding-tb-5px">Date :  <a href="#" class="text-main-color">July 15, 2016</a></div>
                                    <div class="d-block padding-tb-5px">Listing Name :  <a href="#" class="text-main-color">Alrayan Eye Clinic</a></div>
                                    <div class="d-block padding-tb-5px">Email :  <a href="#" class="text-main-color">info@yourmail.com</a></div>
                                    <div class="d-block padding-tb-5px">Phone  :  <a href="#" class="text-main-color">0022219653258</a></div>
                                    <p class="margin-top-15px text-grey-2">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
                                    <a href="#" class="d-inline-block text-grey-2 text-up-small"><i class="far fa-file-alt"></i> Approve</a>
                                    <a href="#" class="d-inline-block margin-lr-20px text-grey-2 text-up-small"><i class="far fa-window-close"></i> Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- // Booking item -->


                    <!-- Booking item -->
                    <div class="col-lg-6 margin-bottom-45px full-width">
                        <div class="background-white thum-hover box-shadow  hvr-float">
                            <div class="padding-30px full-width">
                                <img src="http://placehold.it/60x60" class="float-left margin-right-20px border-radius-60 margin-bottom-20px" alt="">
                                <div class="margin-left-85px">
                                    <a class="d-block text-dark text-medium margin-bottom-5px" href="#">Bakhita alrawi </a>
                                    <div class="d-block padding-tb-5px">Date :  <a href="#" class="text-main-color">July 15, 2016</a></div>
                                    <div class="d-block padding-tb-5px">Listing Name :  <a href="#" class="text-main-color">Alrayan Eye Clinic</a></div>
                                    <div class="d-block padding-tb-5px">Email :  <a href="#" class="text-main-color">info@yourmail.com</a></div>
                                    <div class="d-block padding-tb-5px">Phone  :  <a href="#" class="text-main-color">0022219653258</a></div>
                                    <p class="margin-top-15px text-grey-2">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
                                    <a href="#" class="d-inline-block text-grey-2 text-up-small"><i class="far fa-file-alt"></i> Approve</a>
                                    <a href="#" class="d-inline-block margin-lr-20px text-grey-2 text-up-small"><i class="far fa-window-close"></i> Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- // Booking item -->


                    <!-- Booking item -->
                    <div class="col-lg-6 margin-bottom-45px full-width">
                        <div class="background-white thum-hover box-shadow  hvr-float">
                            <div class="padding-30px full-width">
                                <img src="http://placehold.it/60x60" class="float-left margin-right-20px border-radius-60 margin-bottom-20px" alt="">
                                <div class="margin-left-85px">
                                    <a class="d-block text-dark text-medium margin-bottom-5px" href="#">Bakhita alrawi </a>
                                    <div class="d-block padding-tb-5px">Date :  <a href="#" class="text-main-color">July 15, 2016</a></div>
                                    <div class="d-block padding-tb-5px">Listing Name :  <a href="#" class="text-main-color">Alrayan Eye Clinic</a></div>
                                    <div class="d-block padding-tb-5px">Email :  <a href="#" class="text-main-color">info@yourmail.com</a></div>
                                    <div class="d-block padding-tb-5px">Phone  :  <a href="#" class="text-main-color">0022219653258</a></div>
                                    <p class="margin-top-15px text-grey-2">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
                                    <a href="#" class="d-inline-block text-grey-2 text-up-small"><i class="far fa-file-alt"></i> Approve</a>
                                    <a href="#" class="d-inline-block margin-lr-20px text-grey-2 text-up-small"><i class="far fa-window-close"></i> Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- // Booking item -->


                    <!-- Booking item -->
                    <div class="col-lg-6 margin-bottom-45px full-width">
                        <div class="background-white thum-hover box-shadow  hvr-float">
                            <div class="padding-30px full-width">
                                <img src="http://placehold.it/60x60" class="float-left margin-right-20px border-radius-60 margin-bottom-20px" alt="">
                                <div class="margin-left-85px">
                                    <a class="d-block text-dark text-medium margin-bottom-5px" href="#">Bakhita alrawi </a>
                                    <div class="d-block padding-tb-5px">Date :  <a href="#" class="text-main-color">July 15, 2016</a></div>
                                    <div class="d-block padding-tb-5px">Listing Name :  <a href="#" class="text-main-color">Alrayan Eye Clinic</a></div>
                                    <div class="d-block padding-tb-5px">Email :  <a href="#" class="text-main-color">info@yourmail.com</a></div>
                                    <div class="d-block padding-tb-5px">Phone  :  <a href="#" class="text-main-color">0022219653258</a></div>
                                    <p class="margin-top-15px text-grey-2">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
                                    <a href="#" class="d-inline-block text-grey-2 text-up-small"><i class="far fa-file-alt"></i> Approve</a>
                                    <a href="#" class="d-inline-block margin-lr-20px text-grey-2 text-up-small"><i class="far fa-window-close"></i> Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- // Booking item -->


                </div>

                <!-- pagination -->
                <ul class="pagination pagination-md">
                    <li class="page-item disabled"><a class="page-link rounded-0" href="#" tabindex="-1">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link rounded-0" href="#">Next</a></li>
                </ul>
                <!-- //pagination -->

            </div>
        </div>
    </div>
    </body>
{% endblock %}