{% extends 'baseback.html.twig' %}

{% block body %}
    <body>
    <div class="content-wrapper">
        <div class="container-fluid overflow-hidden">
            <div class="row margin-tb-90px margin-lr-10px sm-mrl-0px">
                <!-- Page Title -->
                <div id="page-title" class="padding-30px background-white full-width box-shadow">
                    <div class="container">
                        <ol class="breadcrumb opacity-5">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Dashboard</a></li>
                            <li class="active">My Listings</li>
                        </ol>
                        <h1 class="font-weight-300">My Listings</h1>
                    </div>
                </div>
                <!-- // Page Title -->
                <div class="margin-tb-45px">

                    <!-- clinic -->
                    <div class="background-white thum-hover box-shadow hvr-float full-width margin-bottom-45px">
                        <div class="float-lg-left margin-right-30px sm-mr-0px text-center sm-mt-35px">
                            <img src="http://placehold.it/200x200" alt="">
                        </div>
                        <div class="padding-lr-25px padding-tb-45px">
                            <span class="text-grey-2"><i class="far fa-map"></i>  California</span>
                            <h2>
                                <a href="#" class="d-inline-block text-dark text-capitalize text-medium margin-tb-15px">Alrayan Eye Clinic</a>
                                <a href="#" class="d-inline-block margin-lr-10px text-grey-2 text-up-small"><i class="far fa-file-alt"></i> Edit</a>
                                <a href="#" class="d-inline-block margin-lr-10px text-grey-2 text-up-small"><i class="far fa-window-close"></i> Delete</a>
                            </h2>
                            <div class="row no-gutters">
                                <div class="col-lg-6 row">
                                    <div class="col-4"><a href="#" class="text-lime"><i class="far fa-bookmark"></i> Open Now!</a></div>
                                    <div class="col-4 text-center"><a href="#" class="text-red"><i class="far fa-heart"></i> Save</a></div>
                                    <div class="col-4 text-right"><a href="#" class="text-blue"><i class="far fa-hospital"></i> Hospital</a></div>
                                </div>
                            </div>

                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <!-- // clinic -->


                    <!-- clinic -->
                    <div class="background-white thum-hover box-shadow hvr-float full-width margin-bottom-45px">
                        <div class="float-lg-left margin-right-30px sm-mr-0px text-center sm-mt-35px">
                            <img src="http://placehold.it/200x200" alt="">
                        </div>
                        <div class="padding-lr-25px padding-tb-45px">
                            <span class="text-grey-2"><i class="far fa-map"></i>  California</span>
                            <h2>
                                <a href="#" class="d-inline-block text-dark text-capitalize text-medium margin-tb-15px">Alrayan Eye Clinic</a>
                                <a href="#" class="d-inline-block margin-lr-10px text-grey-2 text-up-small"><i class="far fa-file-alt"></i> Edit</a>
                                <a href="#" class="d-inline-block margin-lr-10px text-grey-2 text-up-small"><i class="far fa-window-close"></i> Delete</a>
                            </h2>
                            <div class="row no-gutters">
                                <div class="col-lg-6 row">
                                    <div class="col-4"><a href="#" class="text-lime"><i class="far fa-bookmark"></i> Open Now!</a></div>
                                    <div class="col-4 text-center"><a href="#" class="text-red"><i class="far fa-heart"></i> Save</a></div>
                                    <div class="col-4 text-right"><a href="#" class="text-blue"><i class="far fa-hospital"></i> Hospital</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <!-- // clinic -->


                    <!-- clinic -->
                    <div class="background-white thum-hover box-shadow hvr-float full-width margin-bottom-45px">
                        <div class="float-lg-left margin-right-30px sm-mr-0px text-center sm-mt-35px">
                            <img src="http://placehold.it/200x200" alt="">
                        </div>
                        <div class="padding-lr-25px padding-tb-45px">
                            <span class="text-grey-2"><i class="far fa-map"></i>  California</span>
                            <h2>
                                <a href="#" class="d-inline-block text-dark text-capitalize text-medium margin-tb-15px">Alrayan Eye Clinic</a>
                                <a href="#" class="d-inline-block margin-lr-10px text-grey-2 text-up-small"><i class="far fa-file-alt"></i> Edit</a>
                                <a href="#" class="d-inline-block margin-lr-10px text-grey-2 text-up-small"><i class="far fa-window-close"></i> Delete</a>
                            </h2>
                            <div class="row no-gutters">
                                <div class="col-lg-6 row">
                                    <div class="col-4"><a href="#" class="text-lime"><i class="far fa-bookmark"></i> Open Now!</a></div>
                                    <div class="col-4 text-center"><a href="#" class="text-red"><i class="far fa-heart"></i> Save</a></div>
                                    <div class="col-4 text-right"><a href="#" class="text-blue"><i class="far fa-hospital"></i> Hospital</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <!-- // clinic -->


                    <!-- clinic -->
                    <div class="background-white thum-hover box-shadow hvr-float full-width margin-bottom-45px">
                        <div class="float-lg-left margin-right-30px sm-mr-0px text-center sm-mt-35px">
                            <img src="http://placehold.it/200x200" alt="">
                        </div>
                        <div class="padding-lr-25px padding-tb-45px">
                            <span class="text-grey-2"><i class="far fa-map"></i>  California</span>
                            <h2>
                                <a href="#" class="d-inline-block text-dark text-capitalize text-medium margin-tb-15px">Alrayan Eye Clinic</a>
                                <a href="#" class="d-inline-block margin-lr-10px text-grey-2 text-up-small"><i class="far fa-file-alt"></i> Edit</a>
                                <a href="#" class="d-inline-block margin-lr-10px text-grey-2 text-up-small"><i class="far fa-window-close"></i> Delete</a>
                            </h2>
                            <div class="row no-gutters">
                                <div class="col-lg-6 row">
                                    <div class="col-4"><a href="#" class="text-lime"><i class="far fa-bookmark"></i> Open Now!</a></div>
                                    <div class="col-4 text-center"><a href="#" class="text-red"><i class="far fa-heart"></i> Save</a></div>
                                    <div class="col-4 text-right"><a href="#" class="text-blue"><i class="far fa-hospital"></i> Hospital</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <!-- // clinic -->

                    <!-- pagination -->
                    <ul class="pagination pagination-md ">
                        <li class="page-item disabled"><a class="page-link rounded-0" href="#" tabindex="-1">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link rounded-0" href="#">Next</a></li>
                    </ul>
                    <!-- //pagination -->

                </div>

            </div>
        </div>
    </div>
    </body>
{% endblock %}