{% extends 'baseback.html.twig' %}

{% block body %}
    <body>
    <div class="content-wrapper">
        <div class="container-fluid overflow-hidden">
            <div class="row margin-tb-90px margin-lr-10px sm-mrl-0px">
                <!-- Page Title -->
                <div id="page-title" class="padding-30px background-white full-width">
                    <div class="container">
                        <ol class="breadcrumb opacity-5">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Dashboard</a></li>
                            <li class="active">Packages</li>
                        </ol>
                        <h1 class="font-weight-300">Packages</h1>
                    </div>
                </div>
                <!-- // Page Title -->

                <div class="margin-tb-45px full-width">

                    <div class="row">

                        <!-- Pricing -->
                        <div class="col-lg-4 col-md-4  col-sm-6 sm-mb-40px wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                            <div class="pricing hover-effect">
                                <div class="pricing-head text-center">
                                    <h3 class="font-weight-700 padding-40px background-main-color margin-0px text-white">
                                        <span class=" z-index-2 position-relative d-block">
                                    BASIC<span class="d-block text-small font-weight-300">Officia deserunt mollitia </span>
                                        </span>
                                    </h3>
                                    <h2 class="background-grey-1 margin-0px padding-15px">
                                        <i class="text-up-small">$</i>5<span class="text-up-small">.49</span>
                                        <span class="d-block text-small">Per Month </span>
                                    </h2>
                                </div>
                                <ul class="pricing-content text-center list-unstyled background-white">
                                    <li><strong>1</strong> Website</li>
                                    <li><strong>25</strong> EmailAddresses</li>
                                    <li><strong>100</strong> GBStorage</li>
                                </ul>
                                <div class="pricing-footer">
                                    <a href="#" class="btn btn-block background-grey-1 text-dark rounded-0">Sign Up</a>
                                </div>
                            </div>
                        </div>
                        <!-- // Pricing -->

                        <!-- Pricing -->
                        <div class="col-lg-4 col-md-4  col-sm-6 sm-mb-40px wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                            <div class="pricing hover-effect">
                                <div class="pricing-head text-center">
                                    <h3 class="font-weight-700 padding-40px background-second-color margin-0px text-white">
                                        <span class=" z-index-2 position-relative d-block">
                                    POWER<span class="d-block text-small font-weight-300">Officia deserunt mollitia </span>
                                        </span>
                                    </h3>
                                    <h2 class="background-grey-1 margin-0px padding-15px">
                                        <span class="text-up-small">$</span>5<span class="text-up-small">.49</span>
                                        <span class="d-block text-small">Per Month </span>
                                    </h2>
                                </div>
                                <ul class="pricing-content text-center list-unstyled background-white">
                                    <li><strong>1</strong> Website</li>
                                    <li><strong>25</strong> EmailAddresses</li>
                                    <li><strong>100</strong> GBStorage</li>
                                </ul>
                                <div class="pricing-footer">
                                    <a href="#" class="btn btn-block background-grey-1 text-dark rounded-0">Sign Up</a>
                                </div>
                            </div>
                        </div>
                        <!-- // Pricing -->

                        <!-- Pricing -->
                        <div class="col-lg-4 col-md-4  col-sm-6 sm-mb-40px wow fadeInUp" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                            <div class="pricing hover-effect">
                                <div class="pricing-head text-center">
                                    <h3 class="font-weight-700 padding-40px background-main-color margin-0px text-white">
                                        <span class=" z-index-2 position-relative d-block">
                                    ULTIMATE<span class="d-block text-small font-weight-300">Officia deserunt mollitia </span>
                                        </span>
                                    </h3>
                                    <h2 class="background-grey-1 margin-0px padding-15px">
                                        <span class="text-up-small">$</span>5<span class="text-up-small">.49</span>
                                        <span class="d-block text-small">Per Month </span>
                                    </h2>
                                </div>
                                <ul class="pricing-content text-center list-unstyled background-white">
                                    <li><strong>1</strong> Website</li>
                                    <li><strong>25</strong> EmailAddresses</li>
                                    <li><strong>100</strong> GBStorage</li>
                                </ul>
                                <div class="pricing-footer">
                                    <a href="#" class="btn btn-block background-grey-1 text-dark rounded-0">Sign Up</a>
                                </div>
                            </div>
                        </div>
                        <!-- // Pricing -->
                    </div>

                </div>


            </div>
        </div>
    </div>
    </body>
{% endblock %}